mixin button(data)
    if data.link
        a.button(class=data.class href="#")&attributes(data)
            span= data.text
    else if data.button
        button.button(class=data.class)&attributes(data)
            span= data.text
    else
        .button(class=data.class)&attributes(data)
            span= data.text
