mixin CardTechnology(data)
  .card-technology(data-order=data.order)
    .card-technology__image
      if data.image
          img.card-technology__image-pic(src=data.image alt=data.alt)
    .card-technology__content
      if data.title
        .card-technology__title.h3
          h3= data.title
      if data.text
        .card-technology__text!= data.text
