mixin CardAdvantages(data)
  .card-advantages
    .card-advantages__content
      if data.title
        .card-advantages__title.h3
          h3= data.title
      if data.text
        .card-advantages__text
          p= data.text
    .card-advantages__image
      if data.image
        picture
          if data.imageMob
            source(media="(max-width: 576px)" srcset=data.imageMob)
          img.card-advantages__image-pic(src=data.image alt=data.alt)
