mixin CardCalc(data)
  .card-calc(class=data.unvisible ? 'unvisible' : '')
    if !data.onlyText
      .card-calc__info
        .card-calc__title
          p
            if data.calculationTitleBefore
              span.card-calc__text-before= data.calculationTitleBefore
            span.card-calc__number(data-counter=data.calculationTitleNumber.replace(/\s/g, ''))= data.calculationTitleNumber
            if data.calculationTitleAfter
              span.card-calc__text-after= data.calculationTitleAfter
        .card-calc__text
          p!= data.calculationText
      .card-calc__more-info
        .card-calc__title
          p= data.calculationTitleMore
        .card-calc__text
          each paragraph in data.calculationTextMore
            p= paragraph
    if data.onlyText
      .card-calc__text
          p= data.onlyText


